# **Tarea Nº 4**

- Fecha y hora de entrega: Domingo 12 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: ____ Armando Paredes ______
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

## **Mercado de autos usados**

Importa el conjunto de datos `neoauto_20240924.csv`

In [93]:
import pandas as pd

In [94]:
base_prop = pd.read_csv("neoauto_20240924.csv", delimiter=",")

In [95]:
base_prop

,value,item_id,item_price,item_name,item_category,item_category_2,item_brand,item_km,item_year,item_transmission,...,item_location_province,item_tag,item_advertiser,item_credit,item_verified,item_financed_by,santander_price,item_publication_slug,item_publication_type,item_publication_type_Id
0,29200,1807331,29200.0,toyota hilux 2021,autos,Pick Up,TOYOTA,51635.0,2021,Mecánica,...,lima,Como nuevo,Erick Bazán Ubaldo,True,True,Santander,NaN,auto/usado/toyota-hilux-2021-1807331,PREMIUM,25
1,98500,1807393,98500.0,lexus lx 600 2023,autos,Camionetas Suv,LEXUS,15000.0,2023,Automática - Secuencial,...,lima,Como nuevo,Asesor Gabriel NovoCar,False,True,NaN,NaN,auto/usado/lexus-lx-600-2023-1807393,PREMIUM,25
2,16800,1739308,17800.0,bmw 520-i 2016,autos,Sedan,BMW,66000.0,2016,Automática - Secuencial,...,lima,Ocasión,Carlos Chauca,True,True,Santander,16800.0,auto/usado/bmw-520-i-2016-1739308,PREMIUM,25
3,15900,1805714,16900.0,chevrolet captiva 2021,autos,Camionetas Suv,CHEVROLET,40300.0,2021,Automática - Secuencial,...,santa,Premium,Darwin Américo Barrón Pastor,True,True,Santander,15900.0,auto/usado/chevrolet-captiva-2021-1805714,PREMIUM,25
4,12500,1806332,12500.0,dfsk glory 500 2023,autos,Camionetas Suv,DFSK,33000.0,2023,Mecánica,...,lima,Premium,GORDILLO FERNANDO,True,True,Santander,NaN,auto/usado/dfsk-glory-500-2023-1806332,PREMIUM,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4036,18000,1805535,18000.0,mini 5 puertas 2018,autos,Hatchback,MINI,32500.0,2018,Automática,...,lima,NaN,elizabeth arias,True,False,Santander,NaN,auto/usado/mini-5-puertas-2018-1805535,GRATUITO,27
4037,15000,1805482,16000.0,bmw 120i 2016,autos,Deportivo,BMW,83000.0,2016,Automática - Secuencial,...,lima,NaN,Fabrizio Canales,True,False,Santander,15000.0,auto/usado/bmw-120i-2016-1805482,GRATUITO,27
4038,9000,1805528,10000.0,volkswagen gol 2022,autos,Sedan,VOLKSWAGEN,43000.0,2022,Mecánica,...,lima,NaN,Mario Toledo Castillo,True,False,Santander,9000.0,auto/usado/volkswagen-gol-2022-1805528,GRATUITO,27
4039,30500,1805518,31500.0,bmw x5 2016,autos,Camionetas Suv,BMW,32000.0,2016,Automática - Secuencial,...,lima,NaN,SHH Hearne,True,False,Santander,30500.0,auto/usado/bmw-x5-2016-1805518,GRATUITO,27
4040,5500,1805432,5500.0,suzuki swift 2008,autos,Hatchback,SUZUKI,1600.0,2008,Automática,...,lima,NaN,Susana Patiño,False,False,NaN,NaN,auto/usado/suzuki-swift-2008-1805432,GRATUITO,27

1. ¿Cuál es el precio promedio de los autos de cada marca (`item_brand`) publicados en cada subcategoría (`item_category_2`)?

In [98]:
base_prop.groupby( ['item_category_2','item_brand'], as_index = False ).agg( { "item_price": "mean" } )

    item_category_2     item_brand     item_price
0    Camionetas Suv   ASTON MARTIN  229000.000000
1    Camionetas Suv           AUDI   34602.424242
2    Camionetas Suv           BAIC   10800.000000
3    Camionetas Suv  BAIC YINXIANG    8500.000000
4    Camionetas Suv            BMW   38377.802469
..              ...            ...            ...
197            Vans            RAM    8883.333333
198            Vans        RENAULT    4900.000000
199            Vans         SUZUKI   11058.333333
200            Vans         TOYOTA   16080.000000
201            Vans     VOLKSWAGEN   14350.000000

[202 rows x 3 columns]

2. ¿Cuántos autos tienen más de 100,000 kilómetros (`item_km`) pero un precio (`item_price`) menor al promedio general?

In [99]:
mean_price=base_prop['item_price'].mean()
filtered_data =base_prop.loc[(base_prop['item_km'] > 100000) & (base_prop['item_price'] < mean_price), ['item_km', 'item_price']]
n_autos = filtered_data.shape[0]

print(f"Hay {n_autos} autos con más de 100,000 km, pero con precio inferior al promedio general.")

Hay 497 autos con más de 100,000 km, pero con precio inferior al promedio general.

3. Encuentra el modelo (`item_name`) más caro y el más barato de cada marca (`item_brand`).

In [103]:
# Solución

# Hallamos el item más barato y mas caro por marca
precios = base_prop.groupby("item_brand")["item_price"].agg([min, max]).reset_index()
precios1 = precios.rename(columns={"item_brand": "Marca"})
print("Por marca, los modelos más caros y más baratos son:")
#print(precios1)

# Identificamos de qué modelo son los vehículos identificados
for index, row in precios1.iterrows():
    marca = row["Marca"]
    precio_bajo = row["min"]
    precio_alto = row["max"]

    modelo_min = base_prop[(base_prop["item_brand"] == marca) & (base_prop["item_price"] == precio_bajo)]["item_name"].iloc[0]
    modelo_max = base_prop[(base_prop["item_brand"] == marca) & (base_prop["item_price"] == precio_alto)]["item_name"].iloc[0]

    precios1.loc[index, "Modelo más barato"] = modelo_min
    precios1.loc[index, "Modelo más caro"] = modelo_max

display(precios1)

Por marca, los modelos más caros y más baratos son:

,Marca,min,max,Modelo más barato,Modelo más caro
0,ALFA-ROMEO,2500.0,8500.0,alfa-romeo alfasud 1982,alfa-romeo 147 2006
1,ASTON MARTIN,149900.0,229000.0,aston martin db11 2017,aston martin dbx 2021
2,AUDI,0.0,220000.0,audi a3 sedan 2015,audi rs 6 2024
3,AUSTIN,1.0,1.0,austin mini cooper 1970,austin mini cooper 1970
4,BAIC,7500.0,12800.0,baic plus 2018,baic x55 2021
...,...,...,...,...,...
68,SWM,14000.0,14000.0,swm g05 pro 2022,swm g05 pro 2022
69,TOYOTA,0.0,100000.0,toyota land cruiser prado 2011,toyota hilux 2019
70,TRIUMPH,18900.0,18900.0,triumph tr-7 1971,triumph tr-7 1971
71,VOLKSWAGEN,0.0,48900.0,volkswagen bora 2015,volkswagen teramont 2023
72,VOLVO,2100.0,84990.0,volvo 850 turbo 1995,volvo xc-90 2023

4. Encuentra las tres marcas con mayor número de autos financiados por Santander (`item_financed_by`).

In [104]:
# Solución
financiados=base_prop.loc[base_prop.item_financed_by=='Santander']
financiados_por_marca=financiados.groupby('item_brand', as_index=False).size()
(financiados_por_marca.sort_values(by='size', ascending=False)).head(3)

   item_brand  size
3         BMW   296
54     TOYOTA   261
43     NISSAN   228

5. Agrupa las publicaciones por tipo de transmisión (`item_transmission`) y calcula la desviación estándar del precio (`item_price`) para cada tipo.

In [105]:
# Solución
base_prop.groupby( 'item_transmission', as_index = False ).agg( { "item_price": "std" } )

         item_transmission    item_price
0               Automática  15332.729048
1  Automática - Secuencial  22678.641589
2                 Mecánica   8137.122127

6. ¿Cuál es el kilometraje promedio de las publicaciones con el tag "Premium" y de las publicaciones con el tag "Como nuevo"?

In [106]:
# Solución
df_premium = base_prop.loc[base_prop.item_tag == "Premium", :]
df_como_nuevo = base_prop.loc[base_prop.item_tag == "Como nuevo", :]

df_premium_prom = df_premium["item_km"].mean()
df_como_nuevo_prom = df_como_nuevo["item_km"].mean()

print(f"Los autos con el tag Premium tienen un kilometraje promedio de {df_premium_prom:.2f} km., mientras que los de tag Como Nuevo tienen un kilometraje promedio de {df_como_nuevo_prom:.2f} km.")

Los autos con el tag Premium tienen un kilometraje promedio de 48400.24 km., mientras que los de tag Como Nuevo tienen un kilometraje promedio de 35963.48 km.

7. ¿Cuáles son las marcas de vehículas para los que todos sus modelos fabricados en los últimos 5 años tienen al menos 5 publicaciones cada una?

In [107]:
# Solución
# Solución

#filtramos los ultimos 5 años (no consideramos 2025)

last_years = base_prop[(2024 >= base_prop["item_year"]) & (base_prop["item_year"]>=2019)]

#contamos cuantas veces aparece cada modelo (por marca)

grupo_1 = (last_years.groupby(["item_brand", "item_name"]).size().reset_index(name="conteo"))

#y ahora añadimos la condición de al menos 5 publicaciones por modelo

grupo_2 = grupo_1[grupo_1["conteo"] >= 5]

#contamos el numero de modelos que cumplen las condiciones, por marca
grupo_3 = (
    grupo_2.groupby("item_brand")["item_name"]
    .nunique()
    .reset_index(name="modelos que cumplen")
)

#y ahora contamos el numero de modelos totales producidos en el periodo dado

grupo_4 = (last_years.groupby("item_brand")["item_name"].nunique().reset_index(name="modelos totales"))

#unimos los ultimos 2 grupos para identificar qué marcas cumplen la condición

resultado = pd.merge(grupo_3, grupo_4, on = "item_brand")
print(resultado)
print()
print("Entonces, no hay una sola marca que cumpla con las condiciones solicitadas")

       item_brand  modelos que cumplen  modelos totales
0            AUDI                    1               28
1             BMW                    8               78
2       CHEVROLET                    1               41
3            DFSK                    2               12
4            FIAT                    1                3
5            FORD                    7               39
6           HAVAL                    1               12
7           HONDA                    2               23
8         HYUNDAI                    4               46
9            JEEP                    2               28
10            KIA                    5               39
11          MAZDA                    6               39
12  MERCEDES BENZ                    2               62
13             MG                    1               15
14         NISSAN                    8               45
15        PEUGEOT                    1               15
16        RENAULT                    2               14
17         SUBARU                    4               28
18         TOYOTA                   12               58
19     VOLKSWAGEN                    6               42
20          VOLVO                    2               13

Entonces, no hay una sola marca que cumpla con las condiciones solicitadas

## **Evolución económica internacional**

Importa el conjunto de datos de la hoja "Data" del archivo `pwt1001.xlsx`. El diccionario de variables está disponible en la hoja "Legend" del archivo Excel.

1. Calcule el PBI per cápita real ajustado por poder de paridad de compra (PPP). Use la variable de PBI que se calcula por gasto y la población. ¿Cuáles son los 10 países top?

In [ ]:
# Solución

2. Genera el ránking de los países con el mayor incremento del PBI per cápita real PPP entre los años 1990 y 2019. ¿Dónde se ubica Perú? Para los países que no tengan información para dichos años, puede utilizar datos provenientes de hasta dos años antes o después

In [ ]:
# Solución

3. Para el periodo 2010-2019, calcule el promedio del índice del capital humano. ¿Qué relación existe entre esta variable y el PBI per cápita real PPP calculado previamente? ¿y el número de horas laboradas al año por los trabajadores?

In [ ]:
# Solución

4. A partir de la variable del precio de los hogares, calcula los países y los años en los cuales se registró la mayor inflación anual para todo el periodo de tiempo disponible en la base de datos

In [ ]:
# Solución

5. ¿Cuáles son los países con la mayor cantidad de missing values en la variable de productividad total de factores a precios corrientes?

In [ ]:
# Solución

6.  Agrupa los datos por país y calcula el promedio de las horas trabajadas anuales (avh) y de la educación promedio (hc) para el periodo 2000-2020.

In [ ]:
# Solución

7.  Genere una variable que ordene a los países según el porcetaje de formación brutal de capital del 2019. Luego, estable diez grupos a manera de deciles. ¿En qué decil se ubica Péru? Vuelva a calcular usando la información de 1990. ¿El Perú se mantiene en el mismo décil o cambia?

In [ ]:
# Solución

## **Transacciones Financieras**

Importa el conjunto de datos `base_financiera.csv`

8. Filtra todas las transacciones de tipo "Debit" en las que el monto sea mayor a 200, y calcula el monto total de esas transacciones. Además, determina cuántos clientes únicos realizaron esas transacciones.

In [ ]:
# Solución

9. Identifica las transacciones con valores nulos en la columna (`Amount`) . Rellena esos valores con la mediana de los montos por tipo de transacción (`Transaction_Type`) y luego calcula el monto total de transacciones por región (`region`) .

In [ ]:
# Solución

10. Busca transacciones duplicadas considerando las columnas (`Customer_ID`) y (`Date`). Elimina los duplicados manteniendo solo la primera ocurrencia. Luego, agrupa las transacciones restantes por (`Customer_ID`) y calcula el monto promedio y la cantidad de transacciones por cliente.

In [ ]:
# Solución