# **Tarea Nº 4**

- Fecha y hora de entrega: Domingo 12 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: ____ Yashime Torres ______
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

## **Mercado de autos usados**

Importa el conjunto de datos `neoauto_20240924.csv`

In [1]:
#pip install pandas

Requirement already satisfied: pandas in c:\users\yashi\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yashi\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yashi\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\yashi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\yashi\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\yashi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [7]:
base_prop = pd.read_csv("neoauto_20240924.csv", delimiter=",")

In [8]:
base_prop

,value,item_id,item_price,item_name,item_category,item_category_2,item_brand,item_km,item_year,item_transmission,...,item_location_province,item_tag,item_advertiser,item_credit,item_verified,item_financed_by,santander_price,item_publication_slug,item_publication_type,item_publication_type_Id
0,29200,1807331,29200.0,toyota hilux 2021,autos,Pick Up,TOYOTA,51635.0,2021,Mecánica,...,lima,Como nuevo,Erick Bazán Ubaldo,True,True,Santander,NaN,auto/usado/toyota-hilux-2021-1807331,PREMIUM,25
1,98500,1807393,98500.0,lexus lx 600 2023,autos,Camionetas Suv,LEXUS,15000.0,2023,Automática - Secuencial,...,lima,Como nuevo,Asesor Gabriel NovoCar,False,True,NaN,NaN,auto/usado/lexus-lx-600-2023-1807393,PREMIUM,25
2,16800,1739308,17800.0,bmw 520-i 2016,autos,Sedan,BMW,66000.0,2016,Automática - Secuencial,...,lima,Ocasión,Carlos Chauca,True,True,Santander,16800.0,auto/usado/bmw-520-i-2016-1739308,PREMIUM,25
3,15900,1805714,16900.0,chevrolet captiva 2021,autos,Camionetas Suv,CHEVROLET,40300.0,2021,Automática - Secuencial,...,santa,Premium,Darwin Américo Barrón Pastor,True,True,Santander,15900.0,auto/usado/chevrolet-captiva-2021-1805714,PREMIUM,25
4,12500,1806332,12500.0,dfsk glory 500 2023,autos,Camionetas Suv,DFSK,33000.0,2023,Mecánica,...,lima,Premium,GORDILLO FERNANDO,True,True,Santander,NaN,auto/usado/dfsk-glory-500-2023-1806332,PREMIUM,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4036,18000,1805535,18000.0,mini 5 puertas 2018,autos,Hatchback,MINI,32500.0,2018,Automática,...,lima,NaN,elizabeth arias,True,False,Santander,NaN,auto/usado/mini-5-puertas-2018-1805535,GRATUITO,27
4037,15000,1805482,16000.0,bmw 120i 2016,autos,Deportivo,BMW,83000.0,2016,Automática - Secuencial,...,lima,NaN,Fabrizio Canales,True,False,Santander,15000.0,auto/usado/bmw-120i-2016-1805482,GRATUITO,27
4038,9000,1805528,10000.0,volkswagen gol 2022,autos,Sedan,VOLKSWAGEN,43000.0,2022,Mecánica,...,lima,NaN,Mario Toledo Castillo,True,False,Santander,9000.0,auto/usado/volkswagen-gol-2022-1805528,GRATUITO,27
4039,30500,1805518,31500.0,bmw x5 2016,autos,Camionetas Suv,BMW,32000.0,2016,Automática - Secuencial,...,lima,NaN,SHH Hearne,True,False,Santander,30500.0,auto/usado/bmw-x5-2016-1805518,GRATUITO,27
4040,5500,1805432,5500.0,suzuki swift 2008,autos,Hatchback,SUZUKI,1600.0,2008,Automática,...,lima,NaN,Susana Patiño,False,False,NaN,NaN,auto/usado/suzuki-swift-2008-1805432,GRATUITO,27

1. ¿Cuál es el precio promedio de los autos de cada marca (`item_brand`) publicados en cada subcategoría (`item_category_2`)?

In [11]:
base_prop.groupby( ['item_brand','item_category_2'], as_index = False ).agg( { "item_price": "mean" } )

       item_brand item_category_2     item_price
0      ALFA-ROMEO       Hatchback    8500.000000
1      ALFA-ROMEO           Sedan    2500.000000
2    ASTON MARTIN  Camionetas Suv  229000.000000
3    ASTON MARTIN       Deportivo  169990.000000
4    ASTON MARTIN           Sedan  149900.000000
..            ...             ...            ...
197         VOLVO  Camionetas Suv   41801.707317
198         VOLVO       Deportivo    8800.000000
199         VOLVO       Hatchback   12772.500000
200         VOLVO           Sedan   11458.333333
201         VOLVO   Station Wagon    6100.000000

[202 rows x 3 columns]

2. ¿Cuántos autos tienen más de 100,000 kilómetros (`item_km`) pero un precio (`item_price`) menor al promedio general?

In [15]:
mean_price=base_prop['item_price'].mean()
base_prop.loc[ (base_prop.item_km >100000) & (base_prop.item_price < mean_price) , : ]

,value,item_id,item_price,item_name,item_category,item_category_2,item_brand,item_km,item_year,item_transmission,...,item_location_province,item_tag,item_advertiser,item_credit,item_verified,item_financed_by,santander_price,item_publication_slug,item_publication_type,item_publication_type_Id
9,14900,1807390,14900.0,mitsubishi nativa 2012,autos,Camionetas Suv,MITSUBISHI,148681.0,2012,Automática - Secuencial,...,lima,Premium,JC UGARTE,False,False,NaN,NaN,auto/usado/mitsubishi-nativa-2012-1807390,PREMIUM,25
13,9000,1806191,9000.0,hyundai tucson 2009,autos,Camionetas Suv,HYUNDAI,139000.0,2009,Automática,...,lima,Ocasión,Luis Pardo,False,False,NaN,NaN,auto/usado/hyundai-tucson-2009-1806191,PREMIUM,25
24,19000,1807372,19000.0,toyota land cruiser 2001,autos,Camionetas Suv,TOYOTA,408000.0,2001,Automática,...,lima,Ocasión,Jean Paul Gondonneau,False,False,NaN,NaN,auto/usado/toyota-land-cruiser-2001-1807372,PREMIUM,25
31,10000,1807318,10000.0,ford fusion 2015,autos,Sedan,FORD,115510.0,2015,Automática,...,lima,Seminuevo,JUAN JOSE YOMONA,True,False,Santander,NaN,auto/usado/ford-fusion-2015-1807318,PREMIUM,25
127,15900,1807166,15900.0,volkswagen tiguan 2015,autos,Camionetas Suv,VOLKSWAGEN,114000.0,2015,Automática - Secuencial,...,lima,Unico Dueño,Sebastian de Souza,True,False,Santander,NaN,auto/usado/volkswagen-tiguan-2015-1807166,PREMIUM,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4021,7900,1805423,7900.0,great wall voleex c30 2017,autos,Sedan,GREAT WALL,130000.0,2017,Mecánica,...,lima,NaN,Felipe Herrera,False,False,NaN,NaN,auto/usado/great-wall-voleex-c30-2017-1805423,GRATUITO,27
4022,10500,1805510,10500.0,audi a4 2009,autos,Sedan,AUDI,130000.0,2009,Automática - Secuencial,...,lima,NaN,Kristopher Panana,False,False,NaN,NaN,auto/usado/audi-a4-2009-1805510,GRATUITO,27
4023,7800,1805523,7800.0,volkswagen bora 2010,autos,Sedan,VOLKSWAGEN,179000.0,2010,Mecánica,...,lima,NaN,SN SN,False,False,NaN,NaN,auto/usado/volkswagen-bora-2010-1805523,GRATUITO,27
4025,14500,1805565,14500.0,honda cr-v 2014,autos,Camionetas Suv,HONDA,101000.0,2014,Automática,...,lima,NaN,cesar rodriguez,True,False,Santander,NaN,auto/usado/honda-cr-v-2014-1805565,GRATUITO,27
4029,7000,1805445,7000.0,nissan tiida 2014,autos,Sedan,NISSAN,150000.0,2014,Mecánica,...,lima,NaN,manuel valdivia rodriguez,False,False,NaN,NaN,auto/usado/nissan-tiida-2014-1805445,GRATUITO,27

3. Encuentra el modelo (`item_name`) más caro y el más barato de cada marca (`item_brand`).

In [20]:
precios_agrupados= base_prop.groupby( ['item_brand','item_name'], as_index = False ).agg( { "item_price": ["max","min"] } )
precios_agrupados.columns= ['item_brand', 'item_name', 'max_price', 'min_price']
modelo_mas_caro= precios_agrupados.loc[precios_agrupados.groupby('item_brand')['max_price'].idxmax()]
modelo_mas_barato= precios_agrupados.loc[precios_agrupados.groupby('item_brand')['min_price'].idxmin()]
modelo_mas_caro
modelo_mas_barato

        item_brand                       item_name  max_price  min_price
1       ALFA-ROMEO         alfa-romeo alfasud 1982     2500.0     2500.0
2     ASTON MARTIN          aston martin db11 2017   149900.0   149900.0
12            AUDI              audi a3 sedan 2015    14900.0        0.0
97          AUSTIN         austin mini cooper 1970        1.0        1.0
99            BAIC                  baic plus 2018     7500.0     7500.0
...            ...                             ...        ...        ...
1910           SWM                swm g05 pro 2022    14000.0    14000.0
1996        TOYOTA  toyota land cruiser prado 2011    23900.0        0.0
2045       TRIUMPH               triumph tr-7 1971    18900.0    18900.0
2062    VOLKSWAGEN            volkswagen bora 2015     9500.0        0.0
2173         VOLVO            volvo 850 turbo 1995     2100.0     2100.0

[73 rows x 4 columns]

4. Encuentra las tres marcas con mayor número de autos financiados por Santander (`item_financed_by`).

In [27]:
financiados=base_prop.loc[base_prop.item_financed_by=='Santander']
financiados_por_marca=financiados.groupby('item_brand', as_index=False).size()
(financiados_por_marca.sort_values(by='size', ascending=False)).head(3)

   item_brand  size
3         BMW   296
54     TOYOTA   261
43     NISSAN   228

5. Agrupa las publicaciones por tipo de transmisión (`item_transmission`) y calcula la desviación estándar del precio (`item_price`) para cada tipo.

In [28]:
base_prop.groupby( 'item_transmission', as_index = False ).agg( { "item_price": "std" } )

         item_transmission    item_price
0               Automática  15332.729048
1  Automática - Secuencial  22678.641589
2                 Mecánica   8137.122127

6. ¿Cuál es el kilometraje promedio de las publicaciones con el tag "Premium" y de las publicaciones con el tag "Como nuevo"?

In [37]:
tag_premium=base_prop.loc[base_prop.item_tag=='Premium']
promedio_premium=tag_premium['item_km'].mean()

tag_nuevo=base_prop.loc[base_prop.item_tag=='Como nuevo']
promedio_nuevo=tag_nuevo['item_km'].mean()

print(promedio_premium)
print(promedio_nuevo)

48400.235897435894
35963.47619047619

7. ¿Cuáles son las marcas de vehículas para los que todos sus modelos fabricados en los últimos 5 años tienen al menos 5 publicaciones cada una?

In [45]:
fabricados_ultimos_anios=base_prop.loc[base_prop.item_year>=2020]
publicaciones=fabricados_ultimos_anios.groupby(['item_brand','item_name'], as_index=False).size()
cinco_publicaciones=publicaciones.loc[publicaciones['size']>=5]
brand_model_counts =cinco_publicaciones.groupby('item_brand', as_index=False).size()
total_models_per_brand = fabricados_ultimos_anios.groupby('item_brand', as_index=False)['item_name'].nunique()
total_models_per_brand

       item_brand  item_name
0    ASTON MARTIN          1
1            AUDI         23
2            BAIC          3
3             BMW         61
4             BYD          1
5         CHANGAN         11
6           CHERY         16
7       CHEVROLET         37
8         CITROEN         14
9           CUPRA          3
10           DFSK         12
11          DODGE          2
12       DONGFENG          5
13           FIAT          2
14           FORD         34
15          FOTON          2
16            GAC          2
17          GEELY         10
18     GREAT WALL          5
19          HAVAL         10
20          HONDA         17
21        HYUNDAI         41
22            JAC         12
23         JAGUAR          3
24           JEEP         21
25         JETOUR          5
26         JINBEI          2
27            JMC          2
28          KAIYI          1
29         KEYTON          1
30            KIA         36
31            KYC          1
32     LAND ROVER          5
33          LEXUS          5
34       MASERATI          3
35          MAXUS          2
36          MAZDA         34
37  MERCEDES BENZ         51
38             MG         14
39           MINI         16
40     MITSUBISHI         20
41         NISSAN         39
42          OTROS          2
43        PEUGEOT         12
44        PORSCHE         10
45            RAM          6
46        RENAULT         11
47           SEAT          4
48       SHINERAY          1
49      SSANGYONG         10
50         SUBARU         21
51         SUZUKI         27
52            SWM          1
53         TOYOTA         50
54     VOLKSWAGEN         34
55          VOLVO         11

## **Evolución económica internacional**

Importa el conjunto de datos de la hoja "Data" del archivo `pwt1001.xlsx`. El diccionario de variables está disponible en la hoja "Legend" del archivo Excel.

In [60]:
data = pd.read_excel("pwt1001.xlsx", sheet_name="Data")
data

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12805,ZWE,Zimbabwe,US Dollar,2015,40141.617188,39798.644531,13.814629,6.393752,NaN,2.584653,...,0.140172,-0.287693,-0.051930,0.479228,0.651287,0.541446,0.616689,0.533235,0.425715,1.778124
12806,ZWE,Zimbabwe,US Dollar,2016,41875.203125,40963.191406,14.030331,6.504374,NaN,2.616257,...,0.131920,-0.251232,-0.016258,0.470640,0.651027,0.539631,0.619789,0.519718,0.419446,1.728804
12807,ZWE,Zimbabwe,US Dollar,2017,44672.175781,44316.742188,14.236595,6.611773,NaN,2.648248,...,0.126722,-0.202827,-0.039897,0.473560,0.639560,0.519956,0.619739,0.552042,0.418681,1.756007
12808,ZWE,Zimbabwe,US Dollar,2018,44325.109375,43420.898438,14.438802,6.714952,NaN,2.680630,...,0.144485,-0.263658,-0.020791,0.543757,0.655473,0.529867,0.641361,0.561526,0.426527,1.830088
12809,ZWE,Zimbabwe,US Dollar,2019,42296.062500,40826.570312,14.645468,6.831017,NaN,2.713408,...,0.213562,-0.270959,-0.089798,0.494755,0.652439,0.500927,0.487763,0.430082,0.419883,1.580885

In [54]:
legend = pd.read_excel("pwt1001.xlsx", sheet_name="Legend")
legend

           Variable name                                Variable definition
0   Identifier variables                                                NaN
1            countrycode                          3-letter ISO country code
2                country                                       Country name
3          currency_unit                                      Currency unit
4                   year                                               Year
..                   ...                                                ...
62                  pl_g  Price level of government consumption,  price ...
63                  pl_x  Price level of exports, price level of USA GDP...
64                  pl_m  Price level of imports, price level of USA GDP...
65                  pl_n  Price level of the capital stock, price level ...
66                  pl_k  Price level of the capital services, price lev...

[67 rows x 2 columns]

1. Calcule el PBI per cápita real ajustado por poder de paridad de compra (PPP). Use la variable de PBI que se calcula por gasto y la población. ¿Cuáles son los 10 países top?

In [59]:
filtered_data = data.dropna(subset=['rgdpe', 'pop']).copy()
filtered_data['pbi_per_capita'] = filtered_data['rgdpe'] / filtered_data['pop']
pbi_per_capita_avg = filtered_data.groupby('country', as_index=False)['pbi_per_capita'].mean()
pbi_per_capita_avg.sort_values(by='pbi_per_capita', ascending=False).head(10)

                  country  pbi_per_capita
173  United Arab Emirates   135685.412228
26      Brunei Darussalam    85153.100960
133                 Qatar    77240.759701
34         Cayman Islands    64819.047337
92                 Kuwait    52150.640948
100            Luxembourg    49328.308130
40       China, Macao SAR    45158.441251
19                Bermuda    44118.792348
159           Switzerland    39528.128690
175         United States    36517.219524

2. Genera el ránking de los países con el mayor incremento del PBI per cápita real PPP entre los años 1990 y 2019. ¿Dónde se ubica Perú? Para los países que no tengan información para dichos años, puede utilizar datos provenientes de hasta dos años antes o después

In [61]:
filtered_data = data.dropna(subset=['rgdpe', 'pop']).copy()

filtered_data['pbi_per_capita'] = filtered_data['rgdpe'] / filtered_data['pop']

filtered_data['year_diff_1990'] = abs(filtered_data['year'] - 1990)
filtered_data['year_diff_2019'] = abs(filtered_data['year'] - 2019)

data_1990 = filtered_data[filtered_data['year_diff_1990'] <= 2].sort_values(by='year_diff_1990').groupby('country', as_index=False).first()

data_2019 = filtered_data[filtered_data['year_diff_2019'] <= 2].sort_values(by='year_diff_2019').groupby('country', as_index=False).first()

merged_data = pd.merge(data_1990[['country', 'pbi_per_capita']], data_2019[['country', 'pbi_per_capita']], on='country', suffixes=('_1990', '_2019'))

merged_data['pbi_increment'] = merged_data['pbi_per_capita_2019'] - merged_data['pbi_per_capita_1990']

ranked_data = merged_data.sort_values(by='pbi_increment', ascending=False)

peru_position = ranked_data[ranked_data['country'] == 'Peru'].index[0] + 1
print(ranked_data)
print(peru_position)

                                country  pbi_per_capita_1990  \
83                              Ireland         19626.917875
40                     China, Macao SAR         26549.065903
132                               Qatar         28000.258728
146                           Singapore         21527.149763
99                           Luxembourg         45944.414778
..                                  ...                  ...
7                                 Aruba         41436.798906
34                       Cayman Islands         77873.991955
176  Venezuela (Bolivarian Republic of)          9431.681683
111                          Montserrat         31921.314845
171                United Arab Emirates        124114.875136

     pbi_per_capita_2019  pbi_increment
83         102353.631443   82726.713568
40         105337.890061   78788.824158
132        103445.127269   75444.868541
146         88619.305271   67092.155508
99         112941.453342   66997.038564
..                   ...            ...
7           36883.771004   -4553.027903
34          70208.345162   -7665.646794
176           251.319075   -9180.362608
111         19882.056870  -12039.257975
171         69753.215256  -54361.659880

[181 rows x 4 columns]
129

3. Para el periodo 2010-2019, calcule el promedio del índice del capital humano. ¿Qué relación existe entre esta variable y el PBI per cápita real PPP calculado previamente? ¿y el número de horas laboradas al año por los trabajadores?

In [63]:
filtered_data = data[(data['year'] >= 2010) & (data['year'] <= 2019) & data['hc'].notna()]
average_hc = filtered_data['hc'].mean()
print(average_hc)

2.6081302504703916

4. A partir de la variable del precio de los hogares, calcula los países y los años en los cuales se registró la mayor inflación anual para todo el periodo de tiempo disponible en la base de datos

In [ ]:

data = data[['country', 'year', 'cpi']].dropna()

data = data.sort_values(by=['country', 'year'])

data['inflation'] = data.groupby('country')['cpi'].pct_change() * 100


data = data.dropna(subset=['inflation'])


max_inflation = data.loc[data['inflation'].idxmax()]

print(max_inflation)

ValueError: La columna de precios (cpi) no está disponible en los datos.

5. ¿Cuáles son los países con la mayor cantidad de missing values en la variable de productividad total de factores a precios corrientes?

In [66]:
filtered_data = data[['country', 'tfp']]
missing_values = filtered_data.groupby('country')['tfp'].apply(lambda x: x.isna().sum())
missing_values_sorted = missing_values.sort_values(ascending=False)

KeyError: "['tfp'] not in index"

6.  Agrupa los datos por país y calcula el promedio de las horas trabajadas anuales (avh) y de la educación promedio (hc) para el periodo 2000-2020.

In [68]:
averages = filtered_data.groupby('country', as_index=False).agg({
    'avh': 'mean',  # Promedio de horas trabajadas anuales
    'hc': 'mean'    # Promedio de educación promedio
})
print(averages)

                                country          avh        hc
0                               Albania          NaN  2.934304
1                               Algeria          NaN  2.207947
2                                Angola          NaN  1.449344
3                             Argentina  1693.416337  2.961662
4                               Armenia          NaN  3.123577
..                                  ...          ...       ...
140  Venezuela (Bolivarian Republic of)          NaN  2.738341
141                            Viet Nam  2211.677360  2.647214
142                               Yemen          NaN  1.613632
143                              Zambia          NaN  2.465329
144                            Zimbabwe          NaN  2.554634

[145 rows x 3 columns]

7.  Genere una variable que ordene a los países según el porcetaje de formación brutal de capital del 2019. Luego, estable diez grupos a manera de deciles. ¿En qué decil se ubica Péru? Vuelva a calcular usando la información de 1990. ¿El Perú se mantiene en el mismo décil o cambia?

In [70]:
data_2019 = data[data['year'] == 2019].dropna(subset=['csh_i'])

data_2019 = data_2019.sort_values(by='csh_i', ascending=False)

data_2019['decile'] = pd.qcut(data_2019['csh_i'], 10, labels=False) + 1

peru_decile_2019 = data_2019[data_2019['country'] == 'Peru']['decile'].values[0]


data_1990 = data[data['year'] == 1990].dropna(subset=['csh_i'])
data_1990 = data_1990.sort_values(by='csh_i', ascending=False)
data_1990['decile'] = pd.qcut(data_1990['csh_i'], 10, labels=False) + 1

peru_decile_1990 = data_1990[data_1990['country'] == 'Peru']['decile'].values[0]
print(peru_decile_2019)
print(peru_decile_1990)

5
4

## **Transacciones Financieras**

Importa el conjunto de datos `base_financiera.csv`

In [71]:
base_prop = pd.read_csv("base_financiera.csv", delimiter=",")
base_prop

      Transaction_ID Customer_ID        Date   Amount Transaction_Type Region
0               1001        C190  2023-01-01   798.68           Credit  North
1               1002        C016  2023-01-02   906.97            Debit  South
2               1003        C033  2023-01-03  1579.96            Debit  South
3               1004        C142  2023-01-04  1579.62           Credit   East
4               1005        C035  2023-01-05  3719.21            Debit  North
...              ...         ...         ...      ...              ...    ...
2025            1100        C175  2023-01-20  2137.91           Credit   East
2026            2180        C072  2023-01-20  4406.49            Debit  South
2027            1965        C022  2023-01-05   676.48            Debit  North
2028            1793        C107  2023-02-02  4099.63            Debit  North
2029            1030        C049  2023-01-30   330.36           Credit  North

[2030 rows x 6 columns]

8. Filtra todas las transacciones de tipo "Debit" en las que el monto sea mayor a 200, y calcula el monto total de esas transacciones. Además, determina cuántos clientes únicos realizaron esas transacciones.

In [ ]:
# Solución

9. Identifica las transacciones con valores nulos en la columna (`Amount`) . Rellena esos valores con la mediana de los montos por tipo de transacción (`Transaction_Type`) y luego calcula el monto total de transacciones por región (`region`) .

In [ ]:
# Solución

10. Busca transacciones duplicadas considerando las columnas (`Customer_ID`) y (`Date`). Elimina los duplicados manteniendo solo la primera ocurrencia. Luego, agrupa las transacciones restantes por (`Customer_ID`) y calcula el monto promedio y la cantidad de transacciones por cliente.

In [ ]:
# Solución